<div class="feature">
  <a 
    {% if include.link %}href="{{ include.link | relative_url }}"{% endif %}
    class="feature_image"
  >
    <figure>
      <img src="{{ include.image | relative_url }}" loading="lazy" />
      <figcaption style="color: gray;">{{ include.caption }}</figcaption>
   </figure>
  </a>
  <div class="feature_text">
    {%- if include.headline -%}
      <p class="feature_headline">{{ include.headline }}</p>
    {%- endif -%}
    {{ include.text | markdownify }}
  </div>
</div>
